NEXT_PUBLIC_SITE_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_FROM_NAME=MOJII

CREEM_API_URL=https://test-api.creem.io
CREEM_API_KEY=
CREEM_WEBHOOK_SECRET=
CREEM_PRODUCT_GUITAR_BASIC=
CREEM_PRODUCT_GUITAR_CUTTED=
CREEM_PRODUCT_GUITAR_EXTENDED=
CREEM_PRODUCT_DRUMS_STARTER=

GUITAR_BASIC_LINK=
GUITAR_CUTTED_LINK=
GUITAR_EXTENDED_LINK=
DRUMS_STARTER_LINK=
